body {
	background-image: url('field.jpg');
}

header	{
	border: 1px solid white;
	background-color: lightpink;
}
main {
	border: 1px solid black;
	background-color: green;
	
	
}
footer {
	border: 1px solid black;
	background-color: gold;
}

img {
	width: 550px;
	
}


.columns {
	width: 495px;
	display: inline-block;
	border: 1px solid black;
	background-color: grey;
	vertical-align: text-top;
}

.four {
	width: 200px;
	display: inline-block;
	border: 1px solid black;
	background-color: coral;
}

#frost {
	background-color: green;
	width: 1060px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}